@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  overflow-x: hidden;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: black;
  color: whitesmoke;
}

h2,
h3 {
  margin: 0.75rem 0;
  color: white;
  font-weight: 400;
}

.section {
  background-color: #121212;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  overflow: hidden;
  margin: auto;
  width: 50%;
}

.section_title {
  font-size: 200%;
  font-weight: bold;
  border-bottom: 2px solid #88ffff9c;
  width: fit-content;
}

.need_value.main {
  font-size: 150%;
  font-weight: bold;
  border-bottom: 2px solid #88ffff9c;
  width: fit-content;
}

.need_title {
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px solid #88ffff1c;
  margin: 1.3rem 0;
}

#top {
  overflow: hidden;
  background-color: rgba(35, 35, 35);
  color: rgba(35, 35, 35);
  width: 100%;
  text-align: center;
  transition: 0.2s;
}

#top a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.75rem 2rem;
  text-decoration: none;
  font-size: 110%;
  line-height: 200%;
}

#top a:hover {
  background-color: #ddd;
  color: black;
}

.to_top {
  flex: 0 0 100%;
  margin-top: 1rem;
}

.to_top a {
  text-decoration: none;
  display: block;
  height: 32px;
  width: 32px;
  background-image: url("assets/top-arrow.svg");
  background-size: 32px 32px;
}

.to_top a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.media {
  display: block;
  width: 40vw;
  height: calc(40vw / 1.77);
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}

.referencias {
  list-style: decimal;
  list-style-position: inside;
}

.referencias * {
  text-align: left;
  overflow-wrap: break-word;
}

.titulo {
  font-style: italic;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a[href^="#ref"] {
  position: relative;
  bottom: 0.2em;
  font-size: 80%;
  color: #6ec6ff;
}

.link a {
  color: #6ec6ff;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 225%;
  }

  .section {
    width: 90%;
  }

  .media {
    width: 90vw;
    height: calc(90vw / 1.77);
  }

  .to_top a {
    height: 72px;
    width: 72px;
    background-size: 72px 72px;
  }
}